include ../menu-nav/menu-nav

-
  const footerNavList = [
      {
        item: 'Главная',
        anchor: 'offer',
      },
      {
        item: 'Услуги',
        anchor: 'services',
      },
      {
        item: 'Преимущества',
        anchor: 'advantages',
      },
      {
        item: 'Доставка',
        anchor: 'delivery',
      },
      {
        item: 'Расчет стоимости',
        anchor: 'calculation',
      },
      {
        item: 'Контакты',
        anchor: 'contacts',
      },
    ]

-
  const socialList = [
      {
        item: 'Facebook',
        icon: 'facebook.png',
        w: '27',
        h: '27',
        link: 'https://www.facebook.com/Svnimportcom-104017764688816',
        desc: 'Следите за новостями в Facebook',
      },
      {
        item: 'Instagram',
        icon: 'insta.png',
        w: '27',
        h: '27',
        link: 'https://www.instagram.com/svnimport/',
        desc: 'Следите за новостями в Instagram',
      },
      {
        item: 'Вконтакте',
        icon: 'vk.png',
        w: '45',
        h: '27',
        link: 'https://vk.com/svnimport',
        desc: 'Следите за новостями во Вконтакте',
      },
      {
        item: 'YouTube',
        icon: 'youtube.png',
        w: '39',
        h: '27',
        link: 'https://www.youtube.com/channel/UCH0y-syRlKW_XS19-b5sayA/featured',
        desc: 'Подписывайтесь на наш YouTube-канал',
      },
    ]

mixin page-footer(mod)
  footer.page-footer
    div.page-footer__top
      +menu-nav(footerNavList, 'Дополнительное меню').page-footer__nav
      div.page-footer__social
        h2.visually-hidden Мы в соцсетях
        ul.page-footer__social-list
          each social in socialList
            li.page-footer__social-item
              a(href= social.link).page-footer__social-link
                img(src="img/social/" + social.icon width= social.w height= social.h alt= social.item).page-footer__icon
                span.visually-hidden #{social.desc}
    div.page-footer__bottom
      div.page-footer__wrapper
        p.page-footer__copyright All contents © Copyright 2020
