include ../menu-nav/menu-nav
include ../contacts-phone/contacts-phone

-
  const footerNavList = [
      {
        item: 'Оффер',
        anchor: 'offer',
      },
      {
        item: 'Услуги',
        anchor: 'services',
      },
      {
        item: 'Гарантии',
        anchor: 'warranty',
      },
      {
        item: 'Доставка',
        anchor: 'delivery',
      },
      {
        item: 'Отзывы',
        anchor: 'reviews',
      },
      {
        item: 'Вопросы',
        anchor: 'faq',
      },
      {
        item: 'Контакты',
        anchor: 'contacts',
      },
    ]

mixin page-footer(mod)
  footer.page-footer
    div.page-footer__top
      +menu-nav(footerNavList, 'Дополнительное меню').page-footer__nav
      +contacts-phone('phone-icon.png', 13, 14).footer__contacts-phone
      div.page-footer__social
        h2.visually-hidden Мы в соцсетях
        ul.page-footer__social-list
          li.page-footer__social-item
            a(href="#").page-footer__social-link
              img(src="img/icons/vk-yellow.png" width="26" height="16" alt="Логотип Вконтакте").page-footer__icon
              span.visually-hidden Следите за новостями во Вконтакте
          li.page-footer__social-item
            a(href="#").page-footer__social-link
              img(src="img/icons/youtube-yellow.png" width="26" height="18" alt="Логотип YouTube").page-footer__icon
              span.visually-hidden Подписывайтесь на наш YouTube-канал
          li.page-footer__social-item
            a(href="#").page-footer__social-link
              img(src="img/icons/facebook-yellow.png" width="19" height="19" alt="Логотип Facebook").page-footer__icon
              span.visually-hidden Следите за новостями в Facebook

    div.page-footer__bottom
      div.page-footer__wrapper
        p.page-footer__copyright All contents © copyright 2020
