include ../svg/svg
include ../link/link
include ../button/button
include ../contacts-phone/contacts-phone
include ../contacts-mail/contacts-mail
include ../menu-nav/menu-nav

-
  const mainNavList = [
      {
        item: 'Главная',
        anchor: 'offer',
      },
      {
        item: 'Услуги',
        anchor: 'services',
      },
      {
        item: 'Преимущества',
        anchor: 'advantages',
      },
      {
        item: 'Доставка',
        anchor: 'delivery',
      },
      {
        item: 'Расчет стоимости',
        anchor: 'calculation',
      },
      {
        item: 'Контакты',
        anchor: 'contacts',
      },
    ]

mixin header
  header.header
    div.container
      div.header__main-nav-container
        div.header__logo
          a.header__logo-link(href="#")
            img.header__logo-img(src="img/logo/svn-logo.png" width="375" height="68" alt="Логотип")
        div.header__contacts
          +contacts-phone('col').header__contacts-phone
          +contacts-mail('info@svnimport.com', 'col').header__contacts-mail
      div.header__main-nav-wrap
        +menu-nav(mainNavList, 'Главное меню').header__main-nav

    button(type="button").header__toggle
      span.visually-hidden Открыть/закрыть
      +svg('burger')(width="32" height="23").header__toggle-svg-open
      +svg('cross')(width="23" height="23").header__toggle-svg-close
    div.header__dropdown
    div.header__overlay
