include ../title/title

-
  const servicesList = [
      {
        img: 'search.png',
        w: '61',
        h: '61',
        content: 'Поиск и проверка товаров с фабрик Китая и других зарубежных фабрик',
      },
      {
        img: 'manufacture.png',
        w: '60',
        h: '60',
        content: 'Производство собственного продукта по требуемым параметрам',
      },
      {
        img: 'samples.png',
        w: '61',
        h: '71',
        content: 'Заказ и получение образцов товара',
      },
      {
        img: 'certification.png',
        w: '61',
        h: '61',
        content: 'Сертификация',
      },
      {
        img: 'customs.png',
        w: '46',
        h: '66',
        content: 'Таможенное оформление',
      },
      {
        img: 'delivery.png',
        w: '61',
        h: '60',
        content: 'Доставка от фабрики до склада клиента',
      },
      {
        img: 'amazon-delivery.png',
        w: '62',
        h: '57',
        content: 'Доставка товаров на Amazon',
      },
    ]

section.services#services
  +title('Услуги').services__title
  div.container
    ul.services__list
      each service in servicesList
        li.services__service-item
          div.services__service-img
            img(src="img/services/" + service.img width= service.w height= service.h alt="")
          h3.services__item-title!= service.content
