.services {
  padding-top: 120px;
  padding-bottom: 100px;

  background: $gray url("../img/bg/services-bg.jpg") center center no-repeat;
  background-size: cover;

  @include mobile-max {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.services__title {
  margin-bottom: 85px;
}

.services__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services__service-item {
  @include cadillac-b(22, 24);
  color: $blue;

  width: 525px;

  display: flex;
  align-items: center;
  padding-bottom: 80px;

  @include mobile-max {
    padding-bottom: 50px;
  }
}

.services__item-title {
  @include cadillac-b(22, 24);

  @include mobile-max {
    @include cadillac-b(19, 20);
  }
}

.services__service-img {
  width: 71px;
  margin-right: 20px;
  flex-shrink: 0;
}
