mixin contacts-phone(icon, w, h)
  div(class='contacts-phone')&attributes(attributes)
    img(src = 'img/icons/' + icon, width = w, height = h, alt='').contacts-phone__icon
    a(href="tel:+375297777777").contacts-phone__phone.contacts-phone__phone--first +375 (29) 777-77-77
