.title {
  @include cadillac(60, 60, 600);
  color: $blue;
  text-transform: uppercase;
  text-align: center;

  @include tablet-max {
    @include cadillac(42, 42, 600);
  }

  @include mobile-max {
    @include cadillac(26, 30, 600);
  }
}

.title--white {
  color: $white;
}

.title--gray {
  color: $gray;
}
