.offer {
  // min-height: 1004px;
  color: $white;
  background: $blue url("../img/bg/poster.jpg") center no-repeat;
  background-size: cover;
  border: 1px solid $blue;
}

.offer__content {
  margin-top: 145px;
  margin-bottom: 275px;

  @include mobile-max {
    margin-top: 110px;
    margin-bottom: 150px;
  }
}

.offer__title {
  padding: 0;
  margin-bottom: 80px;
  font-size: 48px;
  line-height: 60px;
  text-align: center;

  @include tablet-medium-max {
    @include cadillac(36, 46, 600);
  }

  @include mobile-max {
    font-size: 22px;
    line-height: 30px;
  }
}

.offer__subtitle {
  @include cadillac(48, 60, 600);
  color: $gray;
  text-transform: uppercase;
  text-align: center;

  @include tablet-medium-max {
    @include cadillac(36, 46, 600);
  }

  @include mobile-max {
    font-size: 22px;
    line-height: 30px;
  }
}
