include ../title/title

section.offer#offer
  div.container
    div.offer__content
      +title('Поиск, производство,<br>проверка, сертификация,<br>таможенное оформление и доставка<br>товаров с фабрик Китая<br>и других зарубежных фабрик<br>до Вашего склада!', 'gray').offer__title
      p.offer__subtitle!= "Мы экономим Ваши Сбережения,<br>Время и Нервы, занимаясь импортом<br>вместо Вас!"
