.contacts-point {
  display: flex;
  align-items: center;
}

.contacts-point__icon {
  margin-right: 15px;

  &--messenger {
    margin-right: 25px;
  }

  @include mobile-max {
    margin-right: 10px;

    &--messenger {
      margin-right: 20px;
    }
  }
}

.contacts-point__point {
  @include cadillac(24, 30, 600);
  color: $gray;
}
