-
  const navList = [
      {
        item: 'Оффер',
        anchor: 'offer',
      },
      {
        item: 'Услуги',
        anchor: 'services',
      },
      {
        item: 'Гарантии',
        anchor: 'warranty',
      },
      {
        item: 'Доставка',
        anchor: 'delivery',
      },
      {
        item: 'Отзывы',
        anchor: 'reviews',
      },
      {
        item: 'Вопросы',
        anchor: 'faq',
      },
      {
        item: 'Контакты',
        anchor: 'contacts',
      },
    ]

mixin main-nav
  nav.main-nav&attributes(attributes)(aria-label="Главное меню")
    ul.main-nav__list
      each navItem in navList
        li.main-nav__item
          a.main-nav__link(href="#" + navItem.anchor) #{navItem.item}
