.semantic {
  // max-height: 622px;
  background-color: $blue;
  background-image: url("../img/warranty.jpg"), linear-gradient(to top, $blue, $blue);
  background-repeat: no-repeat;
  background-size: auto 100%, 50%;
}

.semantic__content {
  width: 510px;
  margin-left: auto;
  padding-top: 160px;
  padding-bottom: 160px;

  @include mobile-max {
    width: auto;
  }
}

.semantic__text {
  @include ubuntu(13, 24, 400);
  color: $white;
}
