include ../title/title

-
  const deliveryList = [
      {
        img: 'airplane.png',
        w: '63',
        h: '61',
        content: 'Авиадоставки грузов',
      },
      {
        img: 'car.png',
        w: '66',
        h: '68',
        content: 'Автомобильные грузоперевозки',
      },
      {
        img: 'train.png',
        w: '62',
        h: '64',
        content: 'Железнодорожные грузоперевозки',
      },
      {
        img: 'ship.png',
        w: '65',
        h: '62',
        content: 'Морские грузоперевозки',
      },
      {
        img: 'containers.png',
        w: '65',
        h: '63',
        content: 'Сборные грузы',
      },
      {
        img: 'quick.png',
        w: '76',
        h: '62',
        content: 'Экспресс доставка',
      },
    ]

section.delivery#delivery
  +title('Доставляем по всему миру', 'gray').delivery__title
  div.container
    ul.delivery__list
      each delivery in deliveryList
        li.delivery__item
          div.delivery__img
            img(src="img/delivery/" + delivery.img width= delivery.w height= delivery.h alt="")
          h3.delivery__item-title!= delivery.content
